.ui-navigator .ui-navigator-wrapper{
    -webkit-box-flex: 1;
}
.ui-navigator-wrapper{ }
.ui-navigator .ui-navigator-list, .ui-navigator .ui-navigator-fix {
    display: -webkit-box;
    -webkit-box-flex: 0; 
	transform:translate(-60px,0); 
}

.ui-navigator .ui-navigator-list li{
    -webkit-box-flex: 0;
}